:root {
  --font-colorBlk: #000;
  --font-colorWht: #f7ebeb;
  --font-link-color: #6c1997;
  --btn-bg1: #ff9df5;
  --btn-bg2: #97ea9f;
  --btn-bg3: #cdcdcd;
  --header-bgc: #8fc7c7;
  --menu-bgc: #8af1ff;
  --font-pop: "Poppins", "sans-serif";
  --font-rob: "Roboto", "sans-serif";
  --bgc: #f6d7a7;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--font-rob);
  background-color: var(--bgc);
  color: var(--font-colorBlk);
}

.root {
  min-height: 100vh;
}

@media (min-width: 769px) {
  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
