.root {
  width: 100%;
  max-width: 335px;
  height: 250px;
  background: rgb(203 151 73 / 40%);
  border-radius: 5px;
  box-shadow: 3px 3px 12px #cb9749;
}

.root__shadow-green {
  box-shadow: 3px 3px 12px #b3ff00;
}

.image__container {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0 0;
}
.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px 0;
}
.info__container {
  width: 100%;
  height: calc(250px - 150px);
  display: flex;
  padding: 0px 10px;
}

.about__container {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.report__container {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.report__link {
  text-align: right;
  text-decoration: underline;
  color: var(--font-link-color);
  cursor: pointer;
}

.edit__link {
  cursor: pointer;
}
