.root {
  width: 100%;
  min-height: 60vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 20px;
}

@media (min-width: 769px) {
  .root {
    min-height: 82vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    justify-items: center;
    row-gap: 20px;
  }
}
