.root {
  width: 100%;
  min-height: 60vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 769px) {
  .root {
    min-height: 82vh;
    padding-top: 20px;
  }
}

.title__container{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .title__container{
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
  }
}

.cards__container{
  width: 100%;
  min-height: calc(60vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 20px;
}

@media (min-width: 769px) {
  .cards__container {
    min-height: calc(82vh - 20px - 20px - 60px - 15px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    justify-items: center;
    row-gap: 20px;
  }
}